.wrap {
  width: 960px;
  margin: 0 auto;
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.wrap > .img-box {
  margin-top: 30px;
}

.img-box {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: none;
  background: none;
  cursor: pointer;
  overflow: hidden;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  transition-duration: 0.3s;
}

.img-box:hover {
  box-shadow: 4px 4px 10px #777;
}