<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <link rel="stylesheet" href="./css/style.css" />
    <title></title>
  </head>
  <body>
    <div id="app">
      <div class="form-area__name">
        <p>名前</p>
        <input
          type="text"
          name="name"
          v-model="name"
        />
        <p
          v-if="isInValidName"
          class="error"
        >名前は４文字以上で入力してください</p>
      </div>
      <div class="form-area__tel">
        <p>電話番号</p>
        <input
          type="tel"
          name="tel"
          v-model="tel"
        />
        <p
          v-if="isInValidTel"
          class="error"
        >電話番号は数字８文字以上で入力してください</p>
      </div>
      <div class="form-area__email">
        <p>Eメールアドレス</p>
        <input
          type="text"
          name="email"
          v-model="email"
        />
        <p
          v-if="isInValidEmail"
          class="error"
        >Eメールアドレスの形式で入力してください</p>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./script/script.js"></script>
  </body>
</html>
