<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <div id="app">
      <p>
        <span>大きさ：</span>
        <input
          v-model="range"
          type="range"
          max="500"
          min="10"
        />
      </p>
      <p>
        <span>赤：</span>
        <input
          v-model="red"
          type="range"
          max="255"
          min="0"
        />
      </p>
      <p>
        <span>緑：</span>
        <input
          v-model="green"
          type="range"
          max="255"
          min="0"
        />
      </p>
      <p>
        <span>青：</span>
        <input
          v-model="blue"
          type="range"
          max="255"
          min="0"
        />
      </p>
      <div
        :style="bindStyle"
      ></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./script/script.js"></script>
  </body>
</html>